<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stylish Table Example</title>

 
  <style>
    body {
      padding: 20px;
    }

   
    .my-table {
      width: 100%;
    }

  

  </style>
</head>
<body>

  <div class="container">
    <h3 class="my-3">Account Details</h3>

    <table class="table table-bordered my-3 my-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">ACCOUNT NUMBER</th>
          <th scope="col">ADDRESS</th>
          <th scope="col">STATE</th>
          <th scope="col">CITY</th>
          <th scope="col">BALANCE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.id }}</td>
          <td>{{ account.name }}</td>
          <td>{{ account.acc_no }}</td>
          <td>{{ account.address }}</td>
          <td>{{ account.state }}</td>
          <td>{{ account.city }}</td>
          <td>₹ {{ account.balance }}</td>
        </tr>
      </tbody>
    </table>

  </div>

 
 

</body>
</html>
