<link rel="stylesheet" href="/src/app/component/loan/loan.component.css">

<div class="d-flex justify-content-center">
 
  <div *ngIf="!loans.length && !showAnimation" class="lottie-container">
    <ng-lottie [options]="options" width="1200px" height="450px"></ng-lottie>
  </div>
</div>
<div
  class="my-3 d-flex justify-content-center"
  *ngIf="!isLoanCreated && !loans.length"
>



  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    New Loan Application +
  </button>
</div>


 


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Loan Form</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #loanForm="ngForm" (ngSubmit)="onSubmit(loanForm)">
          <div class="my-3">
           
            <select
              id="myDropdown"
              name="loanType"
              [(ngModel)]="loanType"
              required
              #selectedOptionNgModel="ngModel"
              [ngClass]="
                selectedOptionNgModel.invalid && selectedOptionNgModel.dirty
                  ? 'is-invalid '
                  : ''
              "
            >
              <div
                *ngIf="selectedOptionNgModel.invalid"
                class="invalid-feedback"
              >
                please select the option
              </div>

              >
              <option value="" disabled>Select an option</option>
              <option value="GoldLoan">Gold Loan</option>
              <option value="BussinessLoan">Bussiness Loan</option>
              <option value="CarLoan">CarLoan</option>
            </select>

            <!-- Validation message -->
            <div
              *ngIf="
                selectedOptionNgModel.invalid &&
                (selectedOptionNgModel.dirty || selectedOptionNgModel.touched)
              "
            >
              <div *ngIf="selectedOptionNgModel" class="invalid-feedback">
                Please select an option.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Loan Amount</label>
            <input
              type="text"
              class=" shadowed-input "
              id="exampleInputEmail1"
              aria-describedby="nameHelp"
              name="amount"
              [(ngModel)]="amount"
              ngModel
              required
              pattern="[0-9]+(\.[0-9]{1,2})?"
              #balancevalid="ngModel"
              [ngClass]="
                balancevalid.invalid && balancevalid.dirty ? 'is-invalid ' : ''
              "
            />
            <div
              *ngIf="balancevalid.invalid && balancevalid.dirty"
              class="invalid-feedback"
            >
              Please enter a valid Amount
            </div>
          </div>

         
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="loanForm.invalid"
            data-bs-dismiss="modal"
          >
          Save Details    
          </button>
        </form>
     
      </div>
    </div>
  </div>
</div>

<div class="container mt-3" *ngIf="loans.length > 0">
<h1 class="face mt-4">Loan Details</h1>
<table  class="table table-bordered mt-3" >
  <thead  class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">UserName</th>
      <th scope="col">LoanAmount</th>
      <th scope="col">LoanType</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody *ngFor="let loan of loans" >
    <tr [class.table-primary]="loan.approved" [class.table-secondary]="!loan.approved">
      <th >{{ loan.id }}</th>
      <td> {{ loan.username }}</td>
      <td>₹ {{ loan.amount }}</td>
      <td>{{ loan.loanType }}</td>
      <td>
        <span
        class="badge text-black"
        [ngClass]="{
          'badge-danger': !loan.approved,
          'badge-success': loan.approved,
          
        }"
      >
      {{ loan.approved ? "Approved &#10004;" : "Not Approved &#10008;" }}
      </span>

      </td>
    </tr>
    </tbody>
    </table>
    </div>





