<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
  <div *ngIf="!documents.length && !showAnimation" class="lottie-container">
    <ng-lottie [options]="options" width="1200px" height="450px"></ng-lottie>
  </div>
</div>
<div class="my-3 d-flex justify-content-center">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    New Document +
  </button>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Loan Form</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          #form="ngForm"
          (ngSubmit)="submitForm(form)"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">Select a file:</label>
          <input
            type="file"
            id="file"
            name="documentFile"
            accept=".pdf, .doc, .docx"
            (change)="onFileSelected($event)"
            ngModel
            required
            #documentvalid="ngModel"
            [(ngModel)]="file"
            [ngClass]="
              documentvalid.invalid && documentvalid.dirty ? 'is-invalid ' : ''
            "
          />
          <div
            *ngIf="documentvalid.invalid && documentvalid.dirty"
            class="invalid-feedback"
          >
            Please upload a document.
          </div>

          <div *ngIf="fileSizeError" class="error-message">
            File size exceeds the allowed limit.
          </div>

          <div *ngIf="fileTypeError" class="error-message">
            Invalid file type. Please select a PDF, DOC, or DOCX file.
          </div>

          <br />

          <input
            type="submit"
            value="Upload"
            [disabled]="form.invalid"
            class="my-3"
            data-bs-dismiss="modal"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="documents.length > 0">
  <h1 class="face mt-4">Documents Details</h1>
  <table class="table table-bordered mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>

        <th scope="col">Document Name</th>

        <th scope="col">View PDF</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let document of documents">
      <tr
        [class.table-primary]="document.boolean"
        [class.table-secondary]="!document.boolean"
      >
        <th>{{ document.id }}</th>
        <th>{{ document.username }}</th>

        <td>{{ document.documentName }}</td>

        <td>
          <img src="/assets/pdf.png" height="80" />
          <button
            class="mt-3"
            class="btn btn-primary"
            (click)="togglePdfViewer(document.id)"
          >
            View PDF
          </button>
          <pdf-viewer
            *ngIf="showPdf"
            src="{{
              'http://localhost:8080/api/DocumentType/downloadFile/' +
                document.id
            }}"
            [render-text]="true"
            [original-size]="false"
            style="width: 350px; height: 350px"
          ></pdf-viewer>
        </td>
        <td>
          <span
            class="badge text-black"
            [ngClass]="{
              'badge-danger': !document.boolean,
              'badge-success': document.boolean
            }"
          >
            {{
              document.boolean ? "Approved  &#10004;" : "Not Approved &#10008;"
            }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
